section.home-search
    .container
        .title 
            h2 tìm theo dòng xe
        .search-wrap
            select.nam(name="")
                option(value='audi', selected='') tìm năm sản xuất của xe..
            select.nsx(name="") 
                option(value="", selected='') tìm nhà sản xuất của xe..
            select.model(name="") 
                option(value="", selected='') tìm model..
            .btn-search(href="") 
                em.fas.fa-search