footer
    .footer-wrap
        .container
            .row.top
                .logo-footer
                    img(src="./img/minhlong-logo.png", alt="")
            .row.content
                .col-lg-4.col-sm-6.address
                    h3 Công ty TNHH Sản xuất và Thương mại Minh Giang
                    p Địa chỉ: 337 Quốc lộ 13, Phường Hiệp Bình Phước, Quận Thủ Đức, TP. HCM
                    br
                    p Điện thoại:
                        a(href="tel:+84 2854 0360 80") +84 2854 0360 80
                    p Fax: +84 2854 2263 82
                    p Email:
                        a(href="mailto:Sales@minhgiangauto.com") Sales@minhgiangauto.com
                .col-lg-3.col-sm-6.nav
                    h2.title Giới thiệu
                    nav
                        a(href="#") Tổng quan
                        a(href="#") Lịch sử phát triển
                        a(href="#") Tầm nhìn - Sứ mệnh
                        a(href="#") Giá trị cốt lõi
                        a(href="#") Ban lãnh đạo
                        a(href="#") Thương hiệu
                .col-lg-2.col-sm-6.nav
                    h2.title Sản phẩm
                    nav
                        a(href="#") Nắp thùng 
                        a(href="#") Off - Road
                        a(href="#") Trang trí
                        a(href="#") Mâm - Vỏ
                        a(href="#") Giảm xóc
                        a(href="#") Body Kits
                .col-lg-3.col-sm-6.connect
                    h2.title Kết nối với chúng tôi
                    .social
                        nav
                            a(href="#")
                                span.fab.fa-facebook-f
                            a(href="#")
                                span.fab.fa-twitter
                            a(href="#")
                                span.fab.fa-youtube
                    .chinhsach 
                        a(href="#") Chính sách bảo mật 
                        a(href="#") Điều khảon sử dụng
                        a(href="#") Sơ đồ trang web
    .copyright
        .col
            p Copyright © 2019 Minh Giang Auto. All Rights Reserved. Designed by
                span 
                    a(href="https://canhcam.vn") Cánh Cam.
    #gotop
        em.lnr.lnr-chevron-up