header 
    .container 
        .menu-wrapper
            .minhgiang-logo 
                img(src="./img/minhlong-logo.png", alt="logo minh long")
            .main-menu 
                ul
                    li
                        a(href="#") trang chủ 
                    li
                        a(href="#") giới thiệu
                    li
                        a(href="#") sản phẩm
                    li
                        a(href="#") tin tức - sự kiện
                    li
                        a(href="#") đại lý
                    li
                        a(href="#") đối tác 
                    li
                        a(href="#") thư viện 
                    li
                        a(href="#") liên hệ
            .formsearch
                .iconsearch 
                    em.fas.fa-search
                .searchbox 
                    input(type="text")
                    a(href="").button-search
                        em.fas.fa-search
            .language
                .lang-active 
                    a(href="#") VN
                .lang-list
                    li 
                        a(href="#") VN
                    li
                        a(href="#") EN
            .call 
                em.mdi.mdi-phone
                span +84 2854 0360 80
            .sidebar-menu
            .toggle-button 
                button.hamburger.hamburger--boring
                    span.hamburger-box
                        span.hamburger-inner
                
