section.home-sanpham(setBackground='./img/home-sp-bg.png')
    .container
        .title 
            h2 sản phẩm
        .row
            .col-md-4
                .item 
                    img(src="./img/home-sp2.png", alt="")
                    .title 
                        h3 nắp thùng
            .col-md-4
                .item 
                    img(src="./img/home-sp1.png", alt="")
                    .title 
                        h3 nắp thùng
            .col-md-4
                .item 
                    img(src="./img/home-sp3.png", alt="")
                    .title 
                        h3 nắp thùng
            .col-md-4
                .item 
                    img(src="./img/home-sp5.png", alt="")
                    .title 
                        h3 nắp thùng
            .col-md-4
                .item 
                    img(src="./img/home-sp6.png", alt="")
                    .title 
                        h3 nắp thùng
            .col-md-4
                .item 
                    img(src="./img/home-sp7.png", alt="")
                    .title 
                        h3 nắp thùng
            