section.home-dai-ly
    .daily-bg(setBackground='./img/home-banner2.png')
        //- img(src="./img/home-banner2.png", alt="")
        .box-text 
            h2 hệ thống đại lý
            p Bạn đã tìm được những sản phẩm ưng ý dành cho mình chưa? Hãy đến ngay đại lý, garage gần nhất hoặc liên hệ với chúng tôi để được hỗ trợ tốt nhất
            .btn
                a.button-1(href="") 
                    em.mdi.mdi-map-marker
                    span tìm đại lí gần nhất
                a.button-2(href="") 
                    em.fa-comment-alt-minus
                    span gửi yêu cầu
                        
                      