section.home-tintuc(setBackground='./img/home-tintuc-banner.png')
    .container
        .tintuc-title
            h2 tin tức - sự kiện
        .swiper-container
            .swiper-wrapper
                .swiper-slide 
                    a(href="")
                        figure 
                            .img
                                img(src="./img/home-tintuc1.png", alt="tin tức")
                            figcaption 
                                time Thứ ba, 23/07/2019, 06:30 (GMT +7)
                                h3 KOP 2019 - tài xế Việt tranh tài xe bán tải
                                a.button-more(href="") xem thêm
                                    em.fas.fa-plus
                .swiper-slide 
                    a(href="")
                        figure 
                            .img
                                img(src="./img/home-tintuc2.png", alt="tin tức")
                            figcaption 
                                time Thứ ba, 23/07/2019, 06:30 (GMT +7)
                                h3 Giải đua ô tô địa hình quốc tế "Rainforest Challenge VIETNAM 2019"
                                a.button-more(href="") xem thêm
                                    em.fas.fa-plus
                .swiper-slide 
                    a(href="")
                        figure 
                            .img
                                img(src="./img/home-tintuc3.png", alt="tin tức")
                            figcaption 
                                time Thứ ba, 23/07/2019, 06:30 (GMT +7)
                                h3 Kịch tính ngày đầu Dambri Challenge 2019
                                a.button-more(href="") xem thêm
                                    em.fas.fa-plus
                .swiper-slide 
                    a(href="")
                        figure 
                            .img
                                img(src="./img/home-tintuc1.png", alt="tin tức")
                            figcaption 
                                time Thứ ba, 23/07/2019, 06:30 (GMT +7)
                                h3 KOP 2019 - tài xế Việt tranh tài xe bán tải
                                a.button-more(href="") xem thêm
                                    em.fas.fa-plus
            .swiper-pagination