section.homeslide
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .item
                    img(src="./img/minhlong-banner1.png", alt="")
                    .text
                        p Tự hào mang đến sản phẩm với chất lượng hàng đầu
                        a.button(href="")
                            img(src="./img/arrowdown.png", alt="")
            .swiper-slide
                .item
                    img(src="./img/minhlong-banner2.png", alt="")
                    .text 
                        p Nhà sản xuất nắp thùng xe bán tải bằng sợi thủy tinh chuyên nghiệp đầu tiên và hàng đầu tại Việt Nam
                        a.button(href="")
                            img(src="./img/arrowdown.png", alt="")
            .swiper-slide
                .item
                    img(src="./img/minhlong-banner3.png", alt="")
                    .text
                        p Đa dạng chất lượng nguyên liệu nhập khẩu & sản phẩm từ Singapore, Thái Lan & Hàn Quốc
                        a.button(href="")
                            img(src="./img/arrowdown.png", alt="")

                    
                    